<div class="container">
    <div id="login" class="signin-card">
        <br>
        <h1 class="display1">Registrar paciente</h1>

        <form action="" method="" class="" role="form" [formGroup]="formulario">


          <mat-form-field class="example-full-width" style="margin-top: 1rem;">

            <mat-label>Nombre</mat-label>
            <input matInput formControlName="nombreFormControl"  [(ngModel)]="nombre"
            placeholder="Ej. Juan"  >

            <mat-error *ngIf="this.formulario.controls.nombreFormControl.hasError('required')">
              El nombre es <strong>requerido</strong>
            </mat-error>

          </mat-form-field>

            <mat-form-field class="example-full-width" style="margin-top: 1rem;">

              <mat-label>Apellido</mat-label>
              <input matInput formControlName="apellidoFormControl"  [(ngModel)]="apellido"
              placeholder="Ej. Samaniego" >
  
              <mat-error *ngIf="this.formulario.controls.apellidoFormControl.hasError('required')">
                El apellido es <strong>requerido</strong>
              </mat-error>
            </mat-form-field>

          <mat-form-field class="example-full-width" style="margin-top: 1rem;">

            <mat-label>Dni</mat-label>
            <input matInput  formControlName="dniFormControl" [(ngModel)]="dni"
            placeholder="Ej. 44444444">

            <mat-error *ngIf="this.formulario.controls.dniFormControl.hasError('required')">
              El dni es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>

            <mat-form-field class="example-full-width" style="margin-top: 1rem;">

              <mat-label>Correo</mat-label>
              <input matInput  formControlName="emailFormControl" [(ngModel)]="correo" placeholder="Ej. pat@gmail.com">

              <mat-error *ngIf="this.formulario.controls.emailFormControl.hasError('email') && !this.formulario.controls.emailFormControl.hasError('required')">
                Por favor ingrese un correo valido
              </mat-error>
              <mat-error *ngIf="this.formulario.controls.emailFormControl.hasError('required')">
                El correo es <strong>requerido</strong>
              </mat-error>
            </mat-form-field>
          

            <mat-form-field class="example-full-width" style="margin-top: 1rem;">

                <mat-label>Contraseña</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="contrasenia" [(ngModel)]="password">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="this.formulario.controls.contrasenia.hasError('required')">
                    La contraseña es <strong>requerida</strong>
                  </mat-error>
              </mat-form-field>
            
              <br>
              <br>
              <div class="container-input-file">
                <label class="custom-file">
                  <input type="file" formControlName="imagenFormControl" (change)="handleImage($event)"/>
                </label>
              </div>            
              <div style="margin-top: 1rem;"> 
                <button class="btn btn-block btn-info " type="button"  [disabled]="!formulario.valid" alt="sign in" (click)="cargarDatos()">Registrarse</button>  
            </div>
             
        </form>  
        
    </div>
</div>