.centrar{
    max-width: 39%;
    margin: 1% auto;
    padding: 20px;   
}

.display1 {
  font-size: 28px;
  font-weight: 100;
  line-height: 1.2;
  color: #757575;
  text-transform: inherit;
  letter-spacing: inherit;
}