
    <div *ngIf='this.listaMisTurnos.length == 0' style="margin-top: 10%; margin-left : 42%">
        <span>
            <h1>
                No hay turnos disponibles
            </h1>
        </span>
    </div>
    
    <div *ngIf='this.listaMisTurnos.length != 0'>
        <table mat-table [dataSource]="this.listaMisTurnos" class="mat-elevation-z8" >
    
            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
          
                              <!-- Weight Column -->
            <ng-container matColumnDef="Fecha">
                <th mat-header-cell *matHeaderCellDef> Fecha </th>
                <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
              </ng-container>

                        
            <ng-container matColumnDef="Horario">
                <th mat-header-cell *matHeaderCellDef> Horario </th>
                <td mat-cell *matCellDef="let element"> {{element.horario}} </td>
              </ng-container>
            
            <!-- Position Column -->
            <ng-container matColumnDef="Nombre">
              <th mat-header-cell *matHeaderCellDef> Nombre </th>
              <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="Codigo">
              <th mat-header-cell *matHeaderCellDef> Codigo </th>
              <td mat-cell *matCellDef="let element"> {{element.codigo}} </td>
            </ng-container>

            <ng-container matColumnDef="Estado">
                <th mat-header-cell *matHeaderCellDef>Estado </th>
                <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
            </ng-container>
    
            <ng-container matColumnDef="Accion">
                <th mat-header-cell *matHeaderCellDef>Accion </th>
                <td mat-cell *matCellDef="let element" > 
                <div *ngIf="element.estado == 'enEspera'" >
                    <button  mat-raised-button color="warn" style="margin: 6px;" (click)='estadoPaciente(element,"cancelado")'>Cancelar turno</button>
                </div>
    
                </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <!-- <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> -->
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
    </div >
    